@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animação para o carrossel de texto */
@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-ticker {
  /* A duração da animação pode ser ajustada para ser mais rápida ou mais lenta */
  animation: ticker 40s linear infinite;
}
